<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="ddon-extractor-lib-logger">
    <Appenders>
        <Console name="LibLogConsole" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Pattern>
            </PatternLayout>
        </Console>
        <File name="LibLogFile" fileName="lib.log">
            <PatternLayout charset="UTF-8">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Pattern>
            </PatternLayout>
        </File>
        <Async name="LibLogAsync">
            <AppenderRef ref="LibLogFile"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="LibLogConsole"/>
            <AppenderRef ref="LibLogAsync"/>
        </Root>
    </Loggers>
</Configuration>
